.App {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 20% 20% 20% 20% 20%;
  border: 1px, solid, black;
  width: 100%;
}

.screens {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.info {
  display: flex;
  justify-content: center;
  grid-row-start: 3;
}

.surf-spots-title {
}

body {
  background-color: #6596AE;
}

.spot-img {
  max-height: 200px;
}
