.App {
  display: flex;
  justify-content: center;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #6596AE;
}

.spot-img {
  max-height: 200px;
}
