body {
  font-family: monospace;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 600 auto;
  width: 100%;
}

.screens {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.info {
  display: flex;
  justify-content: center;
  grid-row-start: 2;
  margin-top: 75px;
}

.location {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

body {
  background-color: #A9C3D3;
}

.spot-img {
  max-width: 300px;
  margin-top: 10px;
}

.explore {
  background-color: transparent;
  border: none;
  border-radius: 5%;
  text-align: center;
  font-family: monospace;
  margin-right: 100px;
}

.explore-bigwaves {
  background-color: transparent;
  border: none;
  border-radius: 5%;
  text-align: center;
  font-family: monospace;
  margin-left: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* border-top: solid;
  border-color: black;
  border-width: thin; */
  margin-top: 15px;
  background-color: #4A6F8A;
}

.footer-tag {
  margin-left: 20px;
}

.accounts {
  display: flex;
  justify-content: space-around;
}

.accounts-link {
  margin-right: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #5A7D99;
}

.marker {
  color: #12353D;
}

.marker:hover {
  color: #061114;
}

.bigLogo {
  width: 500px;
}

.mailIcon {
  margin: 10px;
  margin-right: 20px;
}
